[submodule "hw2"]
	path = hw2
	url = https://github.com/nbren12/homework2.git
[submodule "hw3"]
	path = hw3
	url = git@github.com:nbren12/homework3.git
[submodule "final"]
	path = final
	url = git@github.com:nbren12/hpc15final.git
[submodule "hw4"]
	path = hw4
	url = git@github.com:nbren12/homework4.git
